@import 'styles/variables.scss';

.content {
    padding: 20px;
    position: relative;
    z-index: 1;
}

.todoContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}