.todoCheckboxItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E3E3E3;
    -webkit-transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 10px;

    &:hover {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05)
    }
}
