.App {
    position: relative;
    text-align: left;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    background-color: #FAFAFA;
    z-index: 0;

}

.todo-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

.wrapper {
    position: relative;
}

.wrapper::before {
    background-image: linear-gradient(to left, rgba(113, 165, 251, 0.8) 0%, rgba(184, 97, 238, 0.75) 100%), url('../assets/mountains.jpg');
    content: '';
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    z-index: -1;
}

.content {
    padding: 20px;
    position: relative;
    z-index: 1;
}

.block {
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

footer {
    padding: 10px;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin: auto;
    height: 50px;
    width: 100%;
    /* Установите высоту футера */
}