body,
input {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #56545e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input:focus,
input:active,
input:focus-visible {
  border: 0;
  outline: none !important;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

footer {
  padding: 10px;
  position: absolute;
  text-align: center;
  bottom: 0;
  margin: auto;
  height: 50px;
  width: 100%;
  /* Установите высоту футера */
}

.todo-list-container {
  width: 400px;
  height: 400px;
  background-color: $white;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 2px;
  overflow-y: auto;
}

.gap-10 {
  gap: 10px;
}

.fs-12 {
  font-size: 12px;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.f-align-vertical-center {
  align-items: center;
}

.check__box {
  position: relative;
  width: 25px;
  height: 25px;
  background-image: url("assets/circle-outline.svg");
  margin-left: -1.2em;
  margin-top: auto;
  margin-bottom: auto;
  background-size: contain;
}

input:checked+.check__box {
  background-image: url("assets/checkbox-circle.svg");
}